* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
}

header{
    width: 100%;
    background-color: #5e3ea1;
    padding: 30px 0;
}

.center{
    max-width:1400px;
    width:100%;
    padding:0 2%;
    margin:0 auto;
}

.grp-header{
    float:right;
}
nav.desktop{
    float:left;
}

nav.desktop a{
    text-decoration:dotted;
    top: 2px;
    position: relative;
    font-size: 18px;
    padding: 0 15px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
nav.desktop a:hover{
    color:#a996c7
}
.info-user-btn{
    float:left;
    margin:0 10px;
}
.info-user-btn a{
    margin:0 8px;
    float:left;
    text-decoration:none;
    padding:5px 19px;
}

a.sair-btn{
    text-decoration:none;
    float:left;
    position:relative;
    top:5px;
    padding:0 19px;
    margin:0 8px;
    color:#a996c7;
    font-size:15px;
    background-image:url(../images/header/exit-icon.png);
    background-size:9px 9px;
    background-repeat:no-repeat;
    background-position:left center
}

.btn1{
    cursor:pointer;
    position:relative;
    letter-spacing:-.3px;
    text-transform:uppercase;
    font-size:11px;
    border-radius:30px;
    color:#5e3ea1;
    font-weight:700;
    background:#fff;
    border:1px solid #fff
}
.btn2{
    letter-spacing:-.3px;
    text-transform:uppercase;
    font-size:11px;
    border-radius:30px;
    color:#fff;
    border:1px solid #fff
}
